.contact h2 {
  margin-bottom: 1rem;
}

.contact p{
  text-align: center;
  font-size: 1.2rem;
}

.cotact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
  border-color: #32cbff;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #051419;
  border-radius: 8px;
  margin: 2rem 0;
}

.contact-btn{
    padding: 0.8rem 2rem;
  background-color: #32cbff;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  color: black;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}