.about-section {
  padding: 4rem 10%;
  background: #020202;
  color: white;
}

.about-h2 {
  font-size: 3.5rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 0.1rem;
  text-align: center;
}

.section-heading {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: bold;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
  flex-wrap: wrap; /* ensures responsiveness */
}

.about-text {
  flex: 1;
  min-width: 280px;
  font-size: 1.2rem;
  line-height: 1.6;
}

.about-text p{
  margin-top: 1rem;
}

.about-btn {
  margin-top: 1.5rem;
  padding: 0.8rem 2rem;
  background-color: #32cbff;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  color: black;
}

.about-btn:hover {
  background-color: #1688ae;
  color: white;
}

.about-image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image img {
  max-width: 300px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

.about-image img:hover {
  filter: grayscale(0%);
}