@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: Nunito, sans-serif;
    overflow-x: hidden;
}

:root {
  --bg-color: #020202;
  --smd-bf-color: #1688ae;
  --text-color: white;
  --main-color: #32cbff;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--bg-color); 
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}



.menu-icon {
  font-size: 3.6rem;
  color: #32cbff;
  display: none;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  /* margin-top: ; */
}

.home-content h3 {
  font-size: 2rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
span {
  color: #32cbff;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 1;
  /* color: #32cbff; */
}

/* .home-img img {
  width: 500px;
  height: 500px;
} */

.home-content p {
  font-size: 1.3rem;
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: transparent;
  border: 2px solid #32cbff;
  font-size: 2rem;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5sec ease;
}
i {
  color: aliceblue;
}
/* .btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: #32cbff;
  border-radius: 4rem;
  font-size: 1.8rem;
  color: black;
  box-shadow: 0 0 1rem #32cbff;
  font-weight: 200%;
}

.btn:hover {
  background-color: #1688ae;
} */


/* .skills-container {
        background: #f5f5f5;
        padding: 40px;
      } */

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  color: white;
}

.skill-h2 {
  text-align: center;
  font-size: 3.5rem;
}

.skill-card {
  background: black;
  border-radius: 10px;
  padding: 20px;
  font-size: 2rem;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skill-card img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 15px;
  border-radius: 9px;
}
.skill-card p {
  font-size: 12px;
}
.progress-bar {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
}

.progress-fill {
  height: 100%;
  background: #007bff;
  border-radius: 5px;
}

.percentage {
  font-weight: bold;
  margin-top: 5px;
}






/* ===== Responsive Media Queries ===== */
@media (max-width: 1200px) {
  html {
    font-size: 53%;
  }

  .portfolio-section {
    padding: 0 3rem;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .services {
    padding-bottom: 7rem;
  }

  .portfolio-section {
    padding-bottom: 7rem;
  }

  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 850px) {
  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .services-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .portfolio-section .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .step-number {
    font-size: 7.4rem;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
    cursor: pointer;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transition: 0.25s ease;
    z-index: 99;
  }

  .navbar.active {
    left: 0;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    text-align: center;
  }

  .navbar .fm {
    display: inline-block;
    padding: 1rem 2rem;
  }

  .home {
    flex-direction: column;
    text-align: center;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  

  .services h2,
  .skill-h2 {
    margin-bottom: 3rem;
  }

  .portfolio-section {
    margin: 30px auto;
  }
}

@media (max-width: 600px) {
  .skills-grid,
  .services-container {
    grid-template-columns: 1fr;
  }

  .contact form .input-box input {
    width: 100%;
  }

  .footer {
    flex-direction: column-reverse;
    gap: 2rem;
    text-align: center;
  }

  .footer-iconTop {
    padding: 2rem 1rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home-content h1 {
    font-size: 4.5rem;
  }

  .home-content h3 {
    font-size: 2.2rem;
  }

  .about-content h2 {
    font-size: 3.5rem;
  }

  .skill-h2,
  .services h2 {
    font-size: 4rem;
  }
}

@media (max-width: 365px) {
  .about-img img {
    width: 90vw;
  }

  .footer p {
    text-align: center;
    margin-top: 2rem;
  }

  .btn {
    padding: 1rem 2rem;
    font-size: 1.3rem;
  }

  .see-more-btn {
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }
}
